__pycache__
build
third_party
*.rpt
*.sopcinfo
*.html
board.info
gateware/ed_synth
gateware/ip/ed_synth/ed_synth_axil_driver_0
gateware/ip/ed_synth/ed_synth_emif_ph2_inst
gateware/rgmii_pll/rgmii_pll
gateware/main_pll/main_pll
*.log
*.qpf
*.qsf
dni
.qsys_edit
qdb
*.log.*
*.rec.*
*.rec
core_axi_cache
*.csv
*.dtb
*.bin
*.cpio
*.vcd
Image
images/boot.json
images/boot.vfat
images/rootfs.ext4
images/sdcard.img
